@media(min-width:1024px){ .nichtAufDesktopAnzeigen { display: none !important; } }
@media(max-width:1023px){ .nichtAufMobilAnzeigen { display: none !important; } }
.verstecken { display: none; }
.mod_article.InhaltLäuftÜberElementHinaus, .mod_article .InhaltLäuftÜberElementHinaus { overflow: visible; }
.zweispaltig { columns: 2; gap: 20px; 
	@media(max-width:1023px){ columns: 1; gap: 0; }
}
//************************************************************* TEXT *************************************************************//
.TextRahmen .rte { padding: 0.25rem 2rem; border: 1px solid var(--color_1); }
.TextAusrichtungRechts { text-align: right; }
.kursivGroßbuchstaben strong, .fettGroßbuchstaben strong { text-transform: uppercase; }
.fettKlein strong, .kursivKlein em, .SchriftKlein { font-size: .7em; }
.fettKleinNichtFett strong, .kursivKleinNichtKursiv em { font-size: .7em; font-weight: var(--font_weight, normal); font-style: normal; }
.fettBlock strong { display: block; }
.ZeilenabstandXS { line-height: 1; }
.ZeilenabstandS { line-height: 1.2; }
.ZeilenabstandM { line-height: 1.4; }
.ZeilenabstandL { line-height: 1.6; }
.ZeilenabstandXL { line-height: 1.8; }
.ZeilenabstandXXL { line-height: 2; }
.zentriert { text-align: center; }
.aufDesktopZentriert { text-align: center; @media(max-width:1023px){ text-align: left; } }
.aufMobilZentriert { @media(max-width:1023px){ text-align: center; } }
.aufDesktopBlocksatz { text-align: justify; @media(max-width:1023px){ text-align: left; } }
.keineWorttrennung p,
.fettKeineWorttrennung strong,
.ÜberschriftKeineWorttrennung :is(h1, h2, h3, h4, h5, h6) { hyphens: none; }
.ÜberschriftGroßbuchstaben :is(h1, h2, h3, h4, h5, h6) { text-transform: uppercase; }
//************************************************************* BILDER *************************************************************//
.BildRahmen img { border: 1px solid var(--border_color); }
.BildRahmenVerschoben img { 
	// Code
}
.BildRahmenFarbe img { border: 1px solid var(--color_1); }
.BildVolleHoehe {
	figure { height: 100%;
		img { min-height: 100%; object-fit: cover; }
	}
}

.BildLinks img, .BildMittig img, .BildRechts img { display: inline-block; }
.BildLinks figure { text-align: left; }
.BildMittig figure { text-align: center; }
.BildRechts figure { text-align: right; }

.BildRund img { border-radius: var(--border_radius); }
.BildKreis img { border-radius: 50%; }
//************************************************************* LISTEN *************************************************************//
.ListeAbstand0 ul { margin: 0; }
.ListensymbolPunkt li { list-style: disc; }
.ListensymbolKleinerPunkt li::marker { content: '•  '; }
.ListensymbolKreis li { list-style: circle; }
.ListensymbolBuchstaben li { list-style: lower-alpha; }
.ListensymbolGroßbuchstaben li { list-style: upper-alpha; }
.ListensymbolQuadrat li { list-style: square; }
.ListensymbolRömischeZahlen li { list-style: upper-roman; }
.ListensymbolStrich li::marker { content: '-  '; }
.ListensymbolLangerStrich li::marker { content: '—  '; }
.ListensymbolSpitzeAnführungszeichen li::marker { content: '»  '; }

.Listensymbolfarbe1 li::marker { color: var(--color_1); }
.Listensymbolfarbe2 li::marker { color: var(--color_2); }
.Listensymbolfarbe3 li::marker { color: var(--color_3); }
.Listensymbolfarbe4 li::marker { color: var(--color_4); }
.ListensymbolfarbeWeiß li::marker { color: #fff; }
.ListensymbolfarbeSchwarz li::marker { color: #000; }
//************************************************************* LINKS *************************************************************//
.LinkOhneUnterstrich a { text-decoration: none; }
.LinkMitUnterstrich a { text-decoration: underline; }
.LinkUnterstrichBeiBerührung a:hover { text-decoration: underline; }

.LinkGrößeXXS a { font-size: .55em; }
.LinkGrößeXS a { font-size: .7em; }
.LinkGrößeS a { font-size: .85em; }
.LinkGrößeL a { font-size: 1.3em; }
.LinkGrößeXL a { font-size: 1.6em; }
.LinkGrößeXXL a { font-size: 2em; }

.Linkfarbe1 a, .Linkfarbe1 a svg, .Linkfarbe1 a svg.icon { color: var(--color_1); fill: var(--color_1); }
.Linkfarbe2 a, .Linkfarbe2 a svg, .Linkfarbe2 a svg.icon { color: var(--color_2); fill: var(--color_2); }
.Linkfarbe3 a, .Linkfarbe3 a svg, .Linkfarbe3 a svg.icon { color: var(--color_3); fill: var(--color_3); }
.Linkfarbe4 a, .Linkfarbe4 a svg, .Linkfarbe4 a svg.icon { color: var(--color_4); fill: var(--color_4); }
.LinkfarbeSchwarz a, .LinkfarbeSchwarz a svg, .LinkfarbeSchwarz a svg.icon { color: #000; fill: #000; }
.LinkfarbeWeiß a, .LinkfarbeWeiß a svg, .LinkfarbeWeiß a svg.icon { color: #fff; fill: #fff; }
//************************************************************* SPALTEN *************************************************************//
.vertikalMittig { align-items: center; }
.horizontalMittig { justify-content: center; }
.ElementhöheGleich > .rs-column > * { height: 100%; }
//************************************************************* FORMULARE *************************************************************//
fieldset.Spaltenanzahl2,
fieldset.Spaltenanzahl3,
fieldset.Spaltenanzahl4,
fieldset.Spaltenanzahl5 {
	padding: 0;
	border: 0;
	column-gap: var(--form_gap, 10px);
	display: grid;
	align-items: end;
	grid-template-columns: repeat(2, 1fr);
	@media(max-width:767px){ grid-template-columns: repeat(1, 1fr); }
}
fieldset.Spaltenanzahl3 { grid-template-columns: repeat(3, 1fr); }
fieldset.Spaltenanzahl4 { grid-template-columns: repeat(4, 1fr); }
fieldset.Spaltenanzahl5 { grid-template-columns: repeat(5, 1fr); }
//************************************************************* FLÄCHEN *************************************************************//
.rundeEcken { border-radius: var(--border_radius, 10px) ; }
.rundeEckeUntenLinks { border-bottom-left-radius: var(--border_radius, 10px) ; }
.rundeEckeObenLinks { border-top-left-radius: var(--border_radius, 10px) ; }
.rundeEckeUntenRechts { border-bottom-right-radius: var(--border_radius, 10px) ; }
.rundeEckeObenRechts { border-top-right-radius: var(--border_radius, 10px) ; }

.Rahmen1 { border: 1px solid var(--color_1); }
.Rahmen2 { border: 1px solid var(--color_2); }
.Rahmen3 { border: 1px solid var(--color_3); }
.Rahmen4 { border: 1px solid var(--color_4); }

.RahmenOben { border-top: 1px solid var(--border_color); margin-top: var(--article_space_top, 60px); }
.RahmenUnten { border-bottom: 1px solid var(--border_color); margin-bottom: var(--article_space_top, 60px); }
.RahmenLinks { border-left: 1px solid var(--border_color); }
.RahmenRechts { border-right: 1px solid var(--border_color); }
//************************************************************* KACHELN *************************************************************//
#wrapper .rs-columns.Kacheln, 
#wrapper .rs-columns.KachelnGrau,
#wrapper .rs-columns.KachelnWeiß {
	justify-content: center;
	& > .rs-column > * {
		border: 1px solid var(--border_color);
		padding: 20px 20px;
		background: #f8f8f8;
		border-radius: 3px;
		height: 100%;
		overflow: hidden;
		&.content-text.media--above img { margin-bottom: .5em; }
		@media(max-width:1023px){  
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	&.KachelnWeiß > .rs-column > * { background: #fff; }
	&.KachelnGrau > .rs-column > * { background: #f8f8f8; }
}

#wrapper .Kachel {
	border: 1px solid #ddd;
	padding: 1.5em;
	background: #f8f8f8;
	border-radius: 3px;
	overflow: hidden;
}

.abg1 #wrapper .mod_article:nth-child(odd) .Kachel,
.abg2 #wrapper .mod_article:nth-child(even) .Kachel,
#wrapper .mod_article.HintergrundGrau .Kachel { background: #fff; }
.abg1 #wrapper .mod_article:nth-child(even) .Kachel,
.abg2 #wrapper .mod_article:nth-child(odd) .Kachel,
#wrapper .mod_article.HintergrundWeiß .Kachel { background: #f8f8f8; }

.abg1 #wrapper .mod_article:nth-child(even) .rs-columns.Kacheln > .rs-column > *,
.abg2 #wrapper .mod_article:nth-child(odd) .rs-columns.Kacheln > .rs-column > *,
#wrapper .mod_article.HintergrundWeiß .rs-columns.Kacheln > .rs-column > * { background: #f8f8f8; }
.abg1 #wrapper .mod_article:nth-child(odd) .rs-columns.Kacheln > .rs-column > *,
.abg2 #wrapper .mod_article:nth-child(even) .rs-columns.Kacheln > .rs-column > *,
#wrapper .mod_article.HintergrundGrau .rs-columns.Kacheln > .rs-column > * { background: #fff; }
//************************************************************* BREITE *************************************************************//
.mod_article > .volleBreite:not(.content-table), #wrapper .volleBreite { padding-left: 0; padding-right: 0; width: 100%; }
.mod_article > .volleBreite.content-table table { width: 100%; }

.mod_article .Breite1, .mod_article.Breite1 > * { max-width: 100%; width: 100px; margin: auto; }
.mod_article .Breite2, .mod_article.Breite2 > * { max-width: 100%; width: 200px; margin: auto; }
.mod_article .Breite3, .mod_article.Breite3 > * { max-width: 100%; width: 300px; margin: auto; }
.mod_article .Breite4, .mod_article.Breite4 > * { max-width: 100%; width: 400px; margin: auto; }
.mod_article .Breite5, .mod_article.Breite5 > * { max-width: 100%; width: 500px; margin: auto; }
.mod_article .Breite6, .mod_article.Breite6 > * { max-width: 100%; width: 600px; margin: auto; }
.mod_article .Breite7, .mod_article.Breite7 > * { max-width: 100%; width: 700px; margin: auto; }
.mod_article .Breite8, .mod_article.Breite8 > * { max-width: 100%; width: 800px; margin: auto; }
.mod_article .Breite9, .mod_article.Breite9 > * { max-width: 100%; width: 900px; margin: auto; }
.mod_article .Breite10, .mod_article.Breite10 > * { max-width: 100%; width: 1000px; margin: auto; }
.mod_article .Breite11, .mod_article.Breite11 > * { max-width: 100%; width: 1100px; margin: auto; }
.mod_article .Breite12, .mod_article.Breite12 > * { max-width: 100%; width: 1200px; margin: auto; }
.mod_article .Breite13, .mod_article.Breite13 > * { max-width: 100%; width: 1300px; margin: auto; }
.mod_article .Breite14, .mod_article.Breite14 > * { max-width: 100%; width: 1400px; margin: auto; }
.mod_article .Breite15, .mod_article.Breite15 > * { max-width: 100%; width: 1500px; margin: auto; }
.mod_article .Breite16, .mod_article.Breite16 > * { max-width: 100%; width: 1600px; margin: auto; }
.mod_article .Breite17, .mod_article.Breite17 > * { max-width: 100%; width: 1700px; margin: auto; }
.mod_article .Breite18, .mod_article.Breite18 > * { max-width: 100%; width: 1800px; margin: auto; }
.mod_article .Breite19, .mod_article.Breite19 > * { max-width: 100%; width: 1900px; margin: auto; }

.mod_article.volleBreite { --content_width: 100%; 
	& > * { padding-right: 0; padding-left: 0; }
}
//************************************************************* HÖHE *************************************************************//
.volleHöhe { height: 100vh; }
.HöheMinimal10 { min-height: 10vh; }
.HöheMinimal15 { min-height: 15vh; }
.HöheMinimal20 { min-height: 20vh; }
.HöheMinimal25 { min-height: 25vh; }
.HöheMinimal30 { min-height: 30vh; }
.HöheMinimal35 { min-height: 35vh; }
.HöheMinimal40 { min-height: 40vh; }
.HöheMinimal45 { min-height: 45vh; }
.HöheMinimal50 { min-height: 50vh; }
.HöheMinimal55 { min-height: 55vh; }
.HöheMinimal60 { min-height: 60vh; }
.HöheMinimal65 { min-height: 65vh; }
.HöheMinimal70 { min-height: 70vh; }
.HöheMinimal75 { min-height: 75vh; }
.HöheMinimal80 { min-height: 80vh; }
.HöheMinimal85 { min-height: 85vh; }
.HöheMinimal90 { min-height: 90vh; }
.HöheMinimal95 { min-height: 95vh; }
.HöheMinimal100 { min-height: 100vh; }
//************************************************************* ABSTÄNDE *************************************************************//
.ÜberschriftAbstandOben0 { :is(h1, h2, h3, h4, h5, h6) { margin-top: 0; } }
.ÜberschriftAbstandUnten0 { :is(h1, h2, h3, h4, h5, h6) { margin-bottom: 0; } }

body #wrapper #container .keinAbstand, body #wrapper #container .ohneAbstand, body #container #wrapper .Abstand0, .mod_article body #wrapper .AbstandText0 .rte, .AbstandBild0 figure { padding: 0px; }
body #wrapper #container .AbstandXXS, #container .mod_article .AbstandTextXXS .rte, .AbstandBildXXS figure { padding: 10px; }
body #wrapper #container .AbstandXS, #container .mod_article .AbstandTextXS .rte, .AbstandBildXS figure { padding: 20px; }
body #wrapper #container .AbstandMS, #container .mod_article .AbstandTextMS .rte, .AbstandBildMS figure { padding: 25px; }
body #wrapper #container .AbstandS, #container .mod_article .AbstandTextS .rte, .AbstandBildS figure { padding: 40px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandM, #container .mod_article .AbstandTextM .rte, .AbstandBildM figure { padding: 60px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandL, #container .mod_article .AbstandTextL .rte, .AbstandBildL figure { padding: 100px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXL, #container .mod_article .AbstandTextXL .rte, .AbstandBildXL figure { padding: 130px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXL, #container .mod_article .AbstandTextXXL .rte, .AbstandBildXXL figure { padding: 150px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXXL, #container .mod_article .AbstandTextXXXL .rte, .AbstandBildXXXL figure { padding: 200px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXXXL, #container .mod_article .AbstandTextXXXXL .rte, .AbstandBildXXXXL figure { padding: 250px; @media(max-width:767px){ padding: 30px 10px; } }

body #wrapper #container .AbstandOben0, #container .mod_article .AbstandTextOben0 .rte, .AbstandBildOben0 figure { padding-top: 0px; }
body #wrapper #container .AbstandObenXXS, #container .mod_article .AbstandTextObenXXS .rte, .AbstandBildObenXXS figure { padding-top: 10px; }
body #wrapper #container .AbstandObenXS, #container .mod_article .AbstandTextObenXS .rte, .AbstandBildObenXS figure { padding-top: 20px; }
body #wrapper #container .AbstandObenMS, #container .mod_article .AbstandTextObenMS .rte, .AbstandBildObenMS figure { padding-top: 25px; }
body #wrapper #container .AbstandObenS, #container .mod_article .AbstandTextObenS .rte, .AbstandBildObenS figure { padding-top: 40px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenM, #container .mod_article .AbstandTextObenM .rte, .AbstandBildObenM figure { padding-top: 60px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenL, #container .mod_article .AbstandTextObenL .rte, .AbstandBildObenL figure { padding-top: 100px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXL, #container .mod_article .AbstandTextObenXL .rte, .AbstandBildObenXL figure { padding-top: 130px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXXL, #container .mod_article .AbstandTextObenXXL .rte, .AbstandBildObenXXL figure { padding-top: 150px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXXXL, #container .mod_article .AbstandTextObenXXXL .rte, .AbstandBildObenXXXL figure { padding-top: 200px; @media(max-width:767px){ padding-top: 20px; } }

body #wrapper #container .AbstandRechts0, #container .mod_article .AbstandTextRechts0 .rte, .AbstandBildRechts0 figure { padding-right: 0px; }
body #wrapper #container .AbstandRechtsXXS, #container .mod_article .AbstandTextRechtsXXS .rte, .AbstandBildRechtsXXS figure { padding-right: 10px; }
body #wrapper #container .AbstandRechtsXS, #container .mod_article .AbstandTextRechtsXS .rte, .AbstandBildRechtsXS figure { padding-right: 20px; }
body #wrapper #container .AbstandRechtsMS, #container .mod_article .AbstandTextRechtsMS .rte, .AbstandBildRechtsMS figure { padding-right: 25px; }
body #wrapper #container .AbstandRechtsS, #container .mod_article .AbstandTextRechtsS .rte, .AbstandBildRechtsS figure { padding-right: 40px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsM, #container .mod_article .AbstandTextRechtsM .rte, .AbstandBildRechtsM figure { padding-right: 60px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsL, #container .mod_article .AbstandTextRechtsL .rte, .AbstandBildRechtsL figure { padding-right: 100px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXL, #container .mod_article .AbstandTextRechtsXL .rte, .AbstandBildRechtsXL figure { padding-right: 130px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXXL, #container .mod_article .AbstandTextRechtsXXL .rte, .AbstandBildRechtsXXL figure { padding-right: 150px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXXXL, #container .mod_article .AbstandTextRechtsXXXL .rte, .AbstandBildRechtsXXXL figure { padding-right: 200px; @media(max-width:767px){ padding-right: 20px; } }

body #wrapper #container .AbstandUnten0, #container .mod_article .AbstandTextUnten0 .rte, .AbstandBildUnten0 figure { padding-bottom: 0px; }
body #wrapper #container .AbstandUntenXXS, #container .mod_article .AbstandTextUntenXXS .rte, .AbstandBildUntenXXS figure { padding-bottom: 10px; }
body #wrapper #container .AbstandUntenXS, #container .mod_article .AbstandTextUntenXS .rte, .AbstandBildUntenXS figure { padding-bottom: 20px; }
body #wrapper #container .AbstandUntenMS, #container .mod_article .AbstandTextUntenMS .rte, .AbstandBildUntenMS figure { padding-bottom: 25px; }
body #wrapper #container .AbstandUntenS, #container .mod_article .AbstandTextUntenS .rte, .AbstandBildUntenS figure { padding-bottom: 40px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenM, #container .mod_article .AbstandTextUntenM .rte, .AbstandBildUntenM figure { padding-bottom: 60px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenL, #container .mod_article .AbstandTextUntenL .rte, .AbstandBildUntenL figure { padding-bottom: 100px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXL, #container .mod_article .AbstandTextUntenXL .rte, .AbstandBildUntenXL figure { padding-bottom: 130px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXXL, #container .mod_article .AbstandTextUntenXXL .rte, .AbstandBildUntenXXL figure { padding-bottom: 150px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXXXL, #container .mod_article .AbstandTextUntenXXXL .rte, .AbstandBildUntenXXXL figure { padding-bottom: 200px; @media(max-width:767px){ padding-bottom: 20px; } }

body #wrapper #container .AbstandLinks0, #container .mod_article .AbstandTextLinks0 .rte, .AbstandBildLinks0 figure { padding-left: 0px; }
body #wrapper #container .AbstandLinksXXS, #container .mod_article .AbstandTextLinksXXS .rte, .AbstandBildLinksXXS figure { padding-left: 10px; }
body #wrapper #container .AbstandLinksXS, #container .mod_article .AbstandTextLinksXS .rte, .AbstandBildLinksXS figure { padding-left: 20px; }
body #wrapper #container .AbstandLinksMS, #container .mod_article .AbstandTextLinksMS .rte, .AbstandBildLinksMS figure { padding-left: 25px; }
body #wrapper #container .AbstandLinksS, #container .mod_article .AbstandTextLinksS .rte, .AbstandBildLinksS figure { padding-left: 40px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksM, #container .mod_article .AbstandTextLinksM .rte, .AbstandBildLinksM figure { padding-left: 60px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksL, #container .mod_article .AbstandTextLinksL .rte, .AbstandBildLinksL figure { padding-left: 100px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXL, #container .mod_article .AbstandTextLinksXL .rte, .AbstandBildLinksXL figure { padding-left: 130px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXXL, #container .mod_article .AbstandTextLinksXXL .rte, .AbstandBildLinksXXL figure { padding-left: 150px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXXXL, #container .mod_article .AbstandTextLinksXXXL .rte, .AbstandBildLinksXXXL figure { padding-left: 200px; @media(max-width:767px){ padding-left: 20px; } }


body #wrapper #container .keinAbstandAußen { margin: 10px; }
body #wrapper #container .AbstandAußenXS { margin: 20px; }
body #wrapper #container .AbstandAußenMS { margin: 25px; }
body #wrapper #container .AbstandAußenS { margin: 40px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenM { margin: 60px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenL { margin: 100px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXL { margin: 130px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXL { margin: 150px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXXL { margin: 200px; @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXXXL { margin: 250px; @media(max-width:767px){ padding: 30px 10px; } }

body #wrapper #container .AbstandAußenOben0 { margin-top: 0px; }
body #wrapper #container .AbstandAußenObenXXS { margin-top: 10px; }
body #wrapper #container .AbstandAußenObenXS { margin-top: 20px; }
body #wrapper #container .AbstandAußenObenMS { margin-top: 25px; }
body #wrapper #container .AbstandAußenObenS { margin-top: 40px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenM { margin-top: 60px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenL { margin-top: 100px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXL { margin-top: 130px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXXL { margin-top: 150px; @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXXXL { margin-top: 200px; @media(max-width:767px){ padding-top: 20px; } }

body #wrapper #container .AbstandAußenRechts0 { margin-right: 0px; }
body #wrapper #container .AbstandAußenRechtsXXS { margin-right: 10px; }
body #wrapper #container .AbstandAußenRechtsXS { margin-right: 20px; }
body #wrapper #container .AbstandAußenRechtsMS { margin-right: 25px; }
body #wrapper #container .AbstandAußenRechtsS { margin-right: 40px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsM { margin-right: 60px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsL { margin-right: 100px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXL { margin-right: 130px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXXL { margin-right: 150px; @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXXXL { margin-right: 200px; @media(max-width:767px){ padding-right: 20px; } }

body #wrapper #container .AbstandAußenUnten0 { margin-bottom: 0px; }
body #wrapper #container .AbstandAußenUntenXXS { margin-bottom: 10px; }
body #wrapper #container .AbstandAußenUntenXS { margin-bottom: 20px; }
body #wrapper #container .AbstandAußenUntenMS { margin-bottom: 25px; }
body #wrapper #container .AbstandAußenUntenS { margin-bottom: 40px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenM { margin-bottom: 60px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenL { margin-bottom: 100px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXL { margin-bottom: 130px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXXL { margin-bottom: 150px; @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXXXL { margin-bottom: 200px; @media(max-width:767px){ padding-bottom: 20px; } }

body #wrapper #container .AbstandAußenLinks0 { margin-left: 0px; }
body #wrapper #container .AbstandAußenLinksXXS { margin-left: 10px; }
body #wrapper #container .AbstandAußenLinksXS { margin-left: 20px; }
body #wrapper #container .AbstandAußenLinksMS { margin-left: 25px; }
body #wrapper #container .AbstandAußenLinksS { margin-left: 40px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksM { margin-left: 60px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksL { margin-left: 100px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXL { margin-left: 130px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXXL { margin-left: 150px; @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXXXL { margin-left: 200px; @media(max-width:767px){ padding-left: 20px; } }


body #wrapper #container .keinAbstandMobil { @media(max-width:767px){ padding: 0; } }
body #wrapper #container .AbstandMobilXS { @media(max-width:767px){ padding: 20px; } }
body #wrapper #container .AbstandMobilMS { @media(max-width:767px){ padding: 25px; } }
body #wrapper #container .AbstandMobilS { @media(max-width:767px){ padding: 40px; } }
body #wrapper #container .AbstandMobilM { @media(max-width:767px){ padding: 60px; } }
body #wrapper #container .AbstandMobilL { @media(max-width:767px){ padding: 100px; } }
body #wrapper #container .AbstandMobilXL { @media(max-width:767px){ padding: 130px; } }
body #wrapper #container .AbstandMobilXXL { @media(max-width:767px){ padding: 150px; } }
body #wrapper #container .AbstandMobilXXXL { @media(max-width:767px){ padding: 200px; } }
body #wrapper #container .AbstandMobilXXXXL { @media(max-width:767px){ padding: 250px; } }

body #wrapper #container .AbstandMobilOben0 { @media(max-width:767px){ padding-top: 0px; } }
body #wrapper #container .AbstandMobilObenXXS { @media(max-width:767px){ padding-top: 10px; } }
body #wrapper #container .AbstandMobilObenXS { @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandMobilObenMS { @media(max-width:767px){ padding-top: 25px; } }
body #wrapper #container .AbstandMobilObenS { @media(max-width:767px){ padding-top: 40px; } }
body #wrapper #container .AbstandMobilObenM { @media(max-width:767px){ padding-top: 60px; } }
body #wrapper #container .AbstandMobilObenL { @media(max-width:767px){ padding-top: 100px; } }
body #wrapper #container .AbstandMobilObenXL { @media(max-width:767px){ padding-top: 130px; } }
body #wrapper #container .AbstandMobilObenXXL { @media(max-width:767px){ padding-top: 150px; } }
body #wrapper #container .AbstandMobilObenXXXL { @media(max-width:767px){ padding-top: 200px; } }

body #wrapper #container .AbstandMobilRechts0 { @media(max-width:767px){ padding-right: 0px; } }
body #wrapper #container .AbstandMobilRechtsXXS { @media(max-width:767px){ padding-right: 10px; } }
body #wrapper #container .AbstandMobilRechtsXS { @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandMobilRechtsMS { @media(max-width:767px){ padding-right: 25px; } }
body #wrapper #container .AbstandMobilRechtsS { @media(max-width:767px){ padding-right: 40px; } }
body #wrapper #container .AbstandMobilRechtsM { @media(max-width:767px){ padding-right: 60px; } }
body #wrapper #container .AbstandMobilRechtsL { @media(max-width:767px){ padding-right: 100px; } }
body #wrapper #container .AbstandMobilRechtsXL { @media(max-width:767px){ padding-right: 130px; } }
body #wrapper #container .AbstandMobilRechtsXXL { @media(max-width:767px){ padding-right: 150px; } }
body #wrapper #container .AbstandMobilRechtsXXXL { @media(max-width:767px){ padding-right: 200px; } }

body #wrapper #container .AbstandMobilUnten0 { @media(max-width:767px){ padding-bottom: 0px; } }
body #wrapper #container .AbstandMobilUntenXXS { @media(max-width:767px){ padding-bottom: 10px; } }
body #wrapper #container .AbstandMobilUntenXS { @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandMobilUntenMS { @media(max-width:767px){ padding-bottom: 25px; } }
body #wrapper #container .AbstandMobilUntenS { @media(max-width:767px){ padding-bottom: 40px; } }
body #wrapper #container .AbstandMobilUntenM { @media(max-width:767px){ padding-bottom: 60px; } }
body #wrapper #container .AbstandMobilUntenL { @media(max-width:767px){ padding-bottom: 100px; } }
body #wrapper #container .AbstandMobilUntenXL { @media(max-width:767px){ padding-bottom: 130px; } }
body #wrapper #container .AbstandMobilUntenXXL { @media(max-width:767px){ padding-bottom: 150px; } }
body #wrapper #container .AbstandMobilUntenXXXL { @media(max-width:767px){ padding-bottom: 200px; } }

body #wrapper #container .AbstandMobilLinks0 { @media(max-width:767px){ padding-left: 0px; } }
body #wrapper #container .AbstandMobilLinksXXS { @media(max-width:767px){ padding-left: 10px; } }
body #wrapper #container .AbstandMobilLinksXS { @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandMobilLinksMS { @media(max-width:767px){ padding-left: 25px; } }
body #wrapper #container .AbstandMobilLinksS { @media(max-width:767px){ padding-left: 40px; } }
body #wrapper #container .AbstandMobilLinksM { @media(max-width:767px){ padding-left: 60px; } }
body #wrapper #container .AbstandMobilLinksL { @media(max-width:767px){ padding-left: 100px; } }
body #wrapper #container .AbstandMobilLinksXL { @media(max-width:767px){ padding-left: 130px; } }
body #wrapper #container .AbstandMobilLinksXXL { @media(max-width:767px){ padding-left: 150px; } }
body #wrapper #container .AbstandMobilLinksXXXL { @media(max-width:767px){ padding-left: 200px; } }


body #wrapper #container .AbstandNegativOben0 { margin-top: -0px; }
body #wrapper #container .AbstandNegativObenXXS { margin-top: -10px; }
body #wrapper #container .AbstandNegativObenXS { margin-top: -20px; }
body #wrapper #container .AbstandNegativObenMS { margin-top: -25px; }
body #wrapper #container .AbstandNegativObenS { margin-top: -40px; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenM { margin-top: -60px; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenL { margin-top: -100px; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXL { margin-top: -130px; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXL { margin-top: -150px; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXXL { margin-top: -200px; @media(max-width:767px){ padding-top: 0; } }

body #wrapper #container .AbstandNegativRechts0 { margin-right: -0px; }
body #wrapper #container .AbstandNegativRechtsXXS { margin-right: -10px; }
body #wrapper #container .AbstandNegativRechtsXS { margin-right: -20px; }
body #wrapper #container .AbstandNegativRechtsMS { margin-right: -25px; }
body #wrapper #container .AbstandNegativRechtsS { margin-right: -40px; @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsM { margin-right: -60px; @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsL { margin-right: -100px; @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXL { margin-right: -130px; @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXXL { margin-right: -150px; @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXXXL { margin-right: -200px; @media(max-width:767px){ padding-right: 0; } }

body #wrapper #container .AbstandNegativUnten0 { margin-bottom: -0px; }
body #wrapper #container .AbstandNegativUntenXXS { margin-bottom: -10px; }
body #wrapper #container .AbstandNegativUntenXS { margin-bottom: -20px; }
body #wrapper #container .AbstandNegativUntenMS { margin-bottom: -25px; }
body #wrapper #container .AbstandNegativUntenS { margin-bottom: -40px; @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenM { margin-bottom: -60px; @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenL { margin-bottom: -100px; @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXL { margin-bottom: -130px; @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXXL { margin-bottom: -150px; @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXXXL { margin-bottom: -200px; @media(max-width:767px){ padding-bottom: 0; } }

body #wrapper #container .AbstandNegativLinks0 { margin-left: -0px; }
body #wrapper #container .AbstandNegativLinksXXS { margin-left: -10px; }
body #wrapper #container .AbstandNegativLinksXS { margin-left: -20px; }
body #wrapper #container .AbstandNegativLinksMS { margin-left: -25px; }
body #wrapper #container .AbstandNegativLinksS { margin-left: -40px; @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksM { margin-left: -60px; @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksL { margin-left: -100px; @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXL { margin-left: -130px; @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXXL { margin-left: -150px; @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXXXL { margin-left: -200px; @media(max-width:767px){ padding-left: 0; } }

//************************************************************* SPALTEN *************************************************************//
body .SpaltenabstandS > * { gap: 10px; }
body .SpaltenabstandMS > * { gap: 15px; }
body .SpaltenabstandM > * { gap: 20px; }
body .SpaltenabstandL > * { gap: 50px; }
body .SpaltenabstandXL > * { gap: 100px; @media(max-width:1023px){ gap: 20px; } }
body .SpaltenabstandXXL > * { gap: 200px; @media(max-width:1023px){ gap: 20px; } }
body .horizontalerSpaltenabstandS > * { column-gap: 10px; }
body .horizontalerSpaltenabstandM > * { column-gap: 20px; }
body .horizontalerSpaltenabstandL > * { column-gap: 50px; }
body .horizontalerSpaltenabstandXL > * { column-gap: 100px; @media(max-width:1023px){ gap: 20px; } }
body .horizontalerSpaltenabstandXXL > * { column-gap: 200px; @media(max-width:1023px){ gap: 20px; } }
body .vertikalerSpaltenabstandS > * { row-gap: 10px; }
body .vertikalerSpaltenabstandM > * { row-gap: 20px; }
body .vertikalerSpaltenabstandL > * { row-gap: 50px; }
body .vertikalerSpaltenabstandXL > * { row-gap: 100px; @media(max-width:1023px){ gap: 20px; } }
body .vertikalerSpaltenabstandXXL > * { row-gap: 200px; @media(max-width:1023px){ gap: 20px; } }
//************************************************************* FARBEN *************************************************************//
.fettSchriftfarbeWeiß strong, .kursivSchriftfarbeWeiß em, .ÜberschriftfarbeWeiß :is(h1, h2, h3, h4, h5, h6) { color: #fff; }
.SchriftfarbeWeiß { color: #fff;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #fff; }
	svg.icon, svg { fill: #fff; }
}
.fettSchriftfarbeSchwarz strong, .kursivSchriftfarbeSchwarz em, .ÜberschriftfarbeSchwarz :is(h1, h2, h3, h4, h5, h6) { color: #000; }
.SchriftfarbeSchwarz { color: #000;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #000; }
	svg.icon, svg { fill: #000; }
}
.fettSchriftfarbeGrau strong, .kursivSchriftfarbeGrau em, .ÜberschriftfarbeGrau :is(h1, h2, h3, h4, h5, h6) { color: #f8f8f8; }
.SchriftfarbeGrau { color: #f8f8f8;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #f8f8f8; }
	svg.icon, svg { fill: #f8f8f8; }
}
.fettSchriftfarbeDunkelgrau strong, .kursivSchriftfarbeDunkelgrau em, .ÜberschriftfarbeDunkelgrau :is(h1, h2, h3, h4, h5, h6) { color: #1b2125; }
.SchriftfarbeDunkelgrau { color: #1b2125;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #1b2125; }
	svg.icon, svg { fill: #1b2125; }
}

.fettSchriftfarbe1 strong, .kursivSchriftfarbe1 em, .Überschriftfarbe1 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_1); }
.Schriftfarbe1 { color: var(--color_1);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_1); }
	svg.icon, svg { fill: var(--color_1); }
}
.fettSchriftfarbe2 strong, .kursivSchriftfarbe2 em, .Überschriftfarbe2 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_2); }
.Schriftfarbe2 { color: var(--color_2);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_2); }
	svg.icon, svg { fill: var(--color_2); }
}
.fettSchriftfarbe3 strong, .kursivSchriftfarbe3 em, .Überschriftfarbe3 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_3); }
.Schriftfarbe3 { color: var(--color_3);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_3); }
	svg.icon, svg { fill: var(--color_3); }
}
.fettSchriftfarbe4 strong, .kursivSchriftfarbe4 em, .Überschriftfarbe4 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_4); }
.Schriftfarbe4 { color: var(--color_4);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_4); }
	svg.icon, svg { fill: var(--color_4); }
}

#wrapper .Hintergrund1, .fettHintergrund1 strong { background-color: var(--color_1); }
#wrapper .Hintergrund2, .fettHintergrund2 strong { background-color: var(--color_2); }
#wrapper .Hintergrund3, .fettHintergrund3 strong { background-color: var(--color_3); }
#wrapper .Hintergrund4, .fettHintergrund4 strong { background-color: var(--color_4); }
#wrapper .HintergrundWeiß, .fettHintergrundWeiß strong { background-color: #fff; color: var(--font_color); }
#wrapper .HintergrundSchwarz, .fettHintergrundSchwarz strong { background-color: #000; }
#wrapper .HintergrundDunkelgrau, .fettHintergrundDunkelgrau strong { background-color: #1b2125; }
#wrapper .HintergrundGrau, .fettHintergrundGrau strong { background-color: #f8f8f8; }

.HintergrundTextWeiß .rte { background-color: #fff; }

.Iconfarbe1 svg { fill: var(--color_1); }
.Iconfarbe2 svg { fill: var(--color_2); }
.Iconfarbe3 svg { fill: var(--color_3); }
.Iconfarbe4 svg { fill: var(--color_4); }
//************************************************************* BUTTON *************************************************************//
body #wrapper .ButtonAufGleicherHöhe {
	padding-bottom: 55px;
	a { 
		position: absolute; 
		bottom: 20px;
		right: 20px;
	}
}
button.SchaltflächeInvertieren {
	background-color: var(--color_1);
	color: #fff;
	border: 1px solid var(--color_1);
	&:hover { 
		background: #fff;
		color: var(--color_1);
	}
}
html body .content-text {
	&.LinkAlsButton, &.LinkAlsButton2, &.kursiverLinkAlsButton, &.fettAlsButton { 
		position: relative;
		&:not(.kursiverLinkAlsButton) .rte strong a,
		&:not(.kursiverLinkAlsButton) .rte a strong { font-weight: var(--font_width_strong); }
		&:not(.kursiverLinkAlsButton) .rte a, 
		&:not(.LinkAlsButton) .rte em a,
		&:not(.LinkAlsButton) .rte a em,
		&.fettAlsButton .rte strong { 
			cursor: pointer;
			display: inline-block;
			background: #fff;
			color: var(--button_font_color);
			font-weight: var(--button_font_weight); 
			font-style: normal; 
			border: 1px solid var(--button_border_color); 
			border-radius: var(--button_border_radius); 
			text-decoration: none; 
			padding: .25rem 2rem;
			line-height: 1.4;
			transition: all 0.25s ease-in-out;
			svg, svg.icon { 
				fill: var(--button_font_color); 
				transition: all 0.25s ease-in-out;
			}
			&:before { display: none; }
			&:hover { 
				background: var(--button_color_hover); 
				color: var(--button_font_color_hover);
				border-color: var(--button_border_color_hover);
				svg, svg.icon { fill: var(--button_font_color_hover); }
			}
    		}
	}
	&.LinkAlsButton2, &.fettAlsButton2 { 
		&:not(.kursiverLinkAlsButton) .rte a, 
		&:not(.LinkAlsButton) .rte em a,
		&:not(.LinkAlsButton) .rte a em,
		&.fettAlsButton2 .rte strong { 
			display: inline-block; 
			background-color: var(--color_2); 
			&:hover { 
				background-color: transparent;
				color: var(--color_2);
				border-color: var(--color_2);
			}
		}
	}
}
#footer > .inside > * .IconButton { font-size: 0; 
	a:before { background: transparent; } 
	a svg { 
		width: 30px; 
		height: 30px; 
		border-radius: 50%; 
		margin-right: 10px;
		transition: all 0.25s ease-in-out;
		&:hover { transform: rotate(45deg); }
	}
	svg, svg.icon { fill: var(--color_1); }
}
