@media(min-width:1024px){ .nichtAufDesktopAnzeigen { display: none !important; } }
@media(max-width:1023px){ .nichtAufMobilAnzeigen { display: none !important; } }
.verstecken { display: none; }
.mod_article.InhaltLäuftÜberElementHinaus, .mod_article .InhaltLäuftÜberElementHinaus { overflow: visible; }
.zweispaltig .rte { columns: 2; gap: 80px;
	@media(max-width:1023px){ columns: 1; gap: 0; }
	ul { margin-top: 0; margin-bottom: 0; }
}
//************************************************************* TEXT *************************************************************//
.TextRahmen .rte { padding: 0.25rem 2rem; border: 1px solid var(--color_1); }
.TextAusrichtungRechts { text-align: right; }
.kursivGroßbuchstaben strong, 
.fettGroßbuchstaben strong,
.ÜberschriftGroßbuchstaben :is(h1, h2, h3, h4, h5, h6),
.Großbuchstaben,
.fettGroßbuchstabenNichtFett strong { text-transform: uppercase; }
.fettGroßbuchstabenNichtFett strong { font-weight: var(--font_weight, normal); }
.fettKlein strong, .kursivKlein em, .SchriftKlein { font-size: 14px; }
.fettSehrKlein strong, .kursivSehrKlein em, .SchriftSehrKlein { font-size: 12px; }
.fettKleinNichtFett strong, .kursivKleinNichtKursiv em { font-size: 14px; font-weight: var(--font_weight, normal); font-style: normal; }
.fettSehrKleinNichtFett strong, .kursivSehrKleinNichtKursiv em { font-size: 12px; font-weight: var(--font_weight, normal); font-style: normal; }
.fettGroß strong, .kursivGroß em, .SchriftGroß { font-size: 18px; }
.fettSehrGroß strong, .kursivSehrGroß em, .SchriftSehrGroß { font-size: 20px; }
.fettGroßNichtFett strong, .kursivGroßNichtKursiv em { font-size: 18px; font-weight: var(--font_weight, normal); font-style: normal; }
.fettSehrGroßNichtFett strong, .kursivSehrGroßNichtKursiv em { font-size: 20px; font-weight: var(--font_weight, normal); font-style: normal; }
.fettBlock strong { display: block; }
.ZeilenabstandXS, .ZeilenabstandXS :is(h1,h2,h3,h4,h5,h6) { line-height: 1; }
.ZeilenabstandS, .ZeilenabstandS :is(h1,h2,h3,h4,h5,h6) { line-height: 1.2; }
.ZeilenabstandM, .ZeilenabstandM :is(h1,h2,h3,h4,h5,h6) { line-height: 1.4; }
.ZeilenabstandL, .ZeilenabstandL :is(h1,h2,h3,h4,h5,h6) { line-height: 1.6; }
.ZeilenabstandXL, .ZeilenabstandXL :is(h1,h2,h3,h4,h5,h6) { line-height: 1.8; }
.ZeilenabstandXXL, .ZeilenabstandXXL :is(h1,h2,h3,h4,h5,h6) { line-height: 2; }
.ZeilenabstandXXXL, .ZeilenabstandXXXL :is(h1,h2,h3,h4,h5,h6) { line-height: 3; }
.zentriert { text-align: center; }
.aufDesktopZentriert { text-align: center; @media(max-width:1023px){ text-align: left; } }
.aufMobilZentriert { @media(max-width:1023px){ text-align: center; } }
.aufDesktopBlocksatz { text-align: justify; @media(max-width:1023px){ text-align: left; } }
.keineWorttrennung p,
.fettKeineWorttrennung strong,
.ÜberschriftKeineWorttrennung :is(h1, h2, h3, h4, h5, h6), 
.ÜberschriftKeineWorttrennung:is(h1, h2, h3, h4, h5, h6) { hyphens: none; }
.Worttrennung p,
.ÜberschriftWorttrennung :is(h1, h2, h3, h4, h5, h6),
.ÜberschriftWorttrennung:is(h1, h2, h3, h4, h5, h6) { hyphens: auto; }
//************************************************************* BILDER *************************************************************//
.BildRahmen img { border: 1px solid var(--border_color); }
.BildRahmenVerschoben img { 
	// Code
}
.BildRahmenFarbe img { border: 1px solid var(--color_1); }
.BildVolleHöhe {
	figure { height: 100%;
		img { min-height: 100%; object-fit: cover; }
	}
}

.BildLinks img, .BildMittig img, .BildRechts img { display: inline-block; }
.BildLinks figure { text-align: left; }
.BildMittig figure { text-align: center; }
.BildRechts figure { text-align: right; }

.BildRund img { border-radius: var(--border_radius); }
.BildKreis img { border-radius: 50%; }

.mod_article > .BildAlsHintergrund,
.mod_article > .BildAlsHintergrundFixiert {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100svh;
	margin: 0;
	padding: 0;
	filter: opacity(.3);
	img { width: 100vw; height: 100vh; object-fit: cover; }
}
.mod_article > .BildAlsHintergrund {
	position: absolute;
	display: grid;
	height: 100%;
	img { height: 100%; }
}
//************************************************************* LISTEN *************************************************************//
.ListeAbstand0 ul { margin: 0; }
.ListensymbolPunkt li { list-style: disc; }
.ListensymbolKleinerPunkt li::marker { content: '•  '; }
.ListensymbolKreis li { list-style: circle; }
.ListensymbolBuchstaben li { list-style: lower-alpha; }
.ListensymbolGroßbuchstaben li { list-style: upper-alpha; }
.ListensymbolQuadrat li { list-style: square; }
.ListensymbolRömischeZahlen li { list-style: upper-roman; }
.ListensymbolStrich li::marker { content: '-  '; }
.ListensymbolLangerStrich li::marker { content: '—  '; }
.ListensymbolSpitzeAnführungszeichen li::marker { content: '»  '; }
.ListensymbolDoppelpunkt li::marker { content: ':  '; }

.Listensymbolfarbe1 li::marker { color: var(--color_1); }
.Listensymbolfarbe2 li::marker { color: var(--color_2); }
.Listensymbolfarbe3 li::marker { color: var(--color_3); }
.Listensymbolfarbe4 li::marker { color: var(--color_4); }
.ListensymbolfarbeWeiß li::marker { color: #fff; }
.ListensymbolfarbeSchwarz li::marker { color: #000; }
//************************************************************* LINKS *************************************************************//
.LinkOhneUnterstrich a {
	text-decoration: none; 
	&:before { display: none; }
}
.LinkMitUnterstrich a { text-decoration: underline; }
.LinkUnterstrichBeiBerührung a:hover { text-decoration: underline; }

.LinkGrößeXXS a { font-size: .55em; }
.LinkGrößeXS a { font-size: .7em; }
.LinkGrößeS a { font-size: .85em; }
.LinkGrößeL a { font-size: 1.3em; }
.LinkGrößeXL a { font-size: 1.6em; }
.LinkGrößeXXL a { font-size: 2em; }

body .Linkfarbe1 a, body .Linkfarbe1 a svg, body .Linkfarbe1 a svg.icon { color: var(--color_1); fill: var(--color_1); }
body .Linkfarbe2 a, body .Linkfarbe2 a svg, body .Linkfarbe2 a svg.icon { color: var(--color_2); fill: var(--color_2); }
body .Linkfarbe3 a, body .Linkfarbe3 a svg, body .Linkfarbe3 a svg.icon { color: var(--color_3); fill: var(--color_3); }
body .Linkfarbe4 a, body .Linkfarbe4 a svg, body .Linkfarbe4 a svg.icon { color: var(--color_4); fill: var(--color_4); }
body .LinkfarbeSchwarz a, body .LinkfarbeSchwarz a svg, body .LinkfarbeSchwarz a svg.icon { color: #000; fill: #000; }
body .LinkfarbeWeiß a, body .LinkfarbeWeiß a svg, body .LinkfarbeWeiß a svg.icon { color: #fff; fill: #fff; }
//************************************************************* SPALTEN *************************************************************//
.ElementeOben { align-items: start; }
.vertikalMittig, .ElementeVertikalMittig { align-items: center; }
.ElementeUnten { align-items: end; }
.horizontalMittig { justify-content: center; }
.ElementhöheGleich > .rs-column > * { height: 100%; }
//************************************************************* FORMULARE *************************************************************//
fieldset.Spaltenanzahl2,
fieldset.Spaltenanzahl3,
fieldset.Spaltenanzahl4,
fieldset.Spaltenanzahl5 {
	padding: 0;
	border: 0;
	column-gap: var(--form_gap, 10px);
	display: grid;
	align-items: end;
	grid-template-columns: repeat(2, 1fr);
	@media(max-width:767px){ grid-template-columns: repeat(1, 1fr); }
}
fieldset.Spaltenanzahl3 { grid-template-columns: repeat(3, 1fr); }
fieldset.Spaltenanzahl4 { grid-template-columns: repeat(4, 1fr); }
fieldset.Spaltenanzahl5 { grid-template-columns: repeat(5, 1fr); }
//************************************************************* FLÄCHEN *************************************************************//
.rundeEcken { border-radius: var(--border_radius, 10px) ; }
.rundeEckeUntenLinks { border-bottom-left-radius: var(--border_radius, 10px) ; }
.rundeEckeObenLinks { border-top-left-radius: var(--border_radius, 10px) ; }
.rundeEckeUntenRechts { border-bottom-right-radius: var(--border_radius, 10px) ; }
.rundeEckeObenRechts { border-top-right-radius: var(--border_radius, 10px) ; }
.eckigeEcken { --button_border_radius: 0; --border_radius: 0; }

.Rahmen1 { border: 1px solid var(--color_1); }
.Rahmen2 { border: 1px solid var(--color_2); }
.Rahmen3 { border: 1px solid var(--color_3); }
.Rahmen4 { border: 1px solid var(--color_4); }

.RahmenOben { border-top: 1px solid var(--border_color); margin-top: var(--article_space_top, 60px); }
.RahmenUnten { border-bottom: 1px solid var(--border_color); margin-bottom: var(--article_space_top, 60px); }
.RahmenLinks { border-left: 1px solid var(--border_color); }
.RahmenRechts { border-right: 1px solid var(--border_color); }
//************************************************************* KACHELN *************************************************************//
#wrapper .rs-columns.Kacheln, 
#wrapper .rs-columns.KachelnGrau,
#wrapper .rs-columns.KachelnWeiß {
	justify-content: center;
	& > .rs-column > * {
		border: 1px solid var(--border_color);
		padding: 20px 20px;
		background: #f8f8f8;
		border-radius: 3px;
		height: 100%;
		overflow: hidden;
		&.content-text.media--above img { margin-bottom: .5em; }
		@media(max-width:1023px){  
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	&.KachelnWeiß > .rs-column > * { background: #fff; }
	&.KachelnGrau > .rs-column > * { background: #f8f8f8; }
}

#wrapper .Kachel {
	border: 1px solid #ddd;
	padding: 1.5em;
	background: #f8f8f8;
	border-radius: 3px;
	overflow: hidden;
	@media(max-width:1023px){ padding: .5em; }
}

.abg1 #wrapper .mod_article:nth-child(odd) .Kachel,
.abg2 #wrapper .mod_article:nth-child(even) .Kachel,
#wrapper .mod_article.HintergrundGrau .Kachel { background: #fff; }
.abg1 #wrapper .mod_article:nth-child(even) .Kachel,
.abg2 #wrapper .mod_article:nth-child(odd) .Kachel,
#wrapper .mod_article.HintergrundWeiß .Kachel { background: #f8f8f8; }

.abg1 #wrapper .mod_article:nth-child(even) .rs-columns.Kacheln > .rs-column > *,
.abg2 #wrapper .mod_article:nth-child(odd) .rs-columns.Kacheln > .rs-column > *,
#wrapper .mod_article.HintergrundWeiß .rs-columns.Kacheln > .rs-column > * { background: #f8f8f8; }
.abg1 #wrapper .mod_article:nth-child(odd) .rs-columns.Kacheln > .rs-column > *,
.abg2 #wrapper .mod_article:nth-child(even) .rs-columns.Kacheln > .rs-column > *,
#wrapper .mod_article.HintergrundGrau .rs-columns.Kacheln > .rs-column > * { background: #fff; }
//************************************************************* BREITE *************************************************************//
.mod_article > .volleBreite:not(.content-table), #wrapper .volleBreite { padding-left: 0; padding-right: 0; width: 100%; }
.mod_article > .volleBreite.content-table table { width: 100%; }
.mod_article > .volleBreite.content-image img { width: 100%; }
.mod_article.volleBreite { --content_width: 100%; 
	& > * { padding-right: 0; padding-left: 0; 
		&.content-image img { width: 100%; }
	}
}

.mod_article .Breite100, .mod_article.Breite100 > * { max-width: 100%; width: 100px; margin: auto; }
.mod_article .Breite150, .mod_article.Breite150 > * { max-width: 100%; width: 150px; margin: auto; }
.mod_article .Breite200, .mod_article.Breite200 > * { max-width: 100%; width: 200px; margin: auto; }
.mod_article .Breite250, .mod_article.Breite250 > * { max-width: 100%; width: 250px; margin: auto; }
.mod_article .Breite300, .mod_article.Breite300 > * { max-width: 100%; width: 300px; margin: auto; }
.mod_article .Breite350, .mod_article.Breite350 > * { max-width: 100%; width: 350px; margin: auto; }
.mod_article .Breite400, .mod_article.Breite400 > * { max-width: 100%; width: 400px; margin: auto; }
.mod_article .Breite450, .mod_article.Breite450 > * { max-width: 100%; width: 450px; margin: auto; }
.mod_article .Breite500, .mod_article.Breite500 > * { max-width: 100%; width: 500px; margin: auto; }
.mod_article .Breite550, .mod_article.Breite550 > * { max-width: 100%; width: 550px; margin: auto; }
.mod_article .Breite600, .mod_article.Breite600 > * { max-width: 100%; width: 600px; margin: auto; }
.mod_article .Breite650, .mod_article.Breite650 > * { max-width: 100%; width: 650px; margin: auto; }
.mod_article .Breite700, .mod_article.Breite700 > * { max-width: 100%; width: 700px; margin: auto; }
.mod_article .Breite750, .mod_article.Breite750 > * { max-width: 100%; width: 750px; margin: auto; }
.mod_article .Breite800, .mod_article.Breite800 > * { max-width: 100%; width: 800px; margin: auto; }
.mod_article .Breite850, .mod_article.Breite850 > * { max-width: 100%; width: 850px; margin: auto; }
.mod_article .Breite900, .mod_article.Breite900 > * { max-width: 100%; width: 900px; margin: auto; }
.mod_article .Breite950, .mod_article.Breite950 > * { max-width: 100%; width: 950px; margin: auto; }
.mod_article .Breite1000, .mod_article.Breite1000 > * { max-width: 100%; width: 1000px; margin: auto; }
.mod_article .Breite1050, .mod_article.Breite1050 > * { max-width: 100%; width: 1050px; margin: auto; }
.mod_article .Breite1100, .mod_article.Breite1100 > * { max-width: 100%; width: 1100px; margin: auto; }
.mod_article .Breite1150, .mod_article.Breite1150 > * { max-width: 100%; width: 1150px; margin: auto; }
.mod_article .Breite1200, .mod_article.Breite1200 > * { max-width: 100%; width: 1200px; margin: auto; }
.mod_article .Breite1250, .mod_article.Breite1250 > * { max-width: 100%; width: 1250px; margin: auto; }
.mod_article .Breite1300, .mod_article.Breite1300 > * { max-width: 100%; width: 1300px; margin: auto; }
.mod_article .Breite1350, .mod_article.Breite1350 > * { max-width: 100%; width: 1350px; margin: auto; }
.mod_article .Breite1400, .mod_article.Breite1400 > * { max-width: 100%; width: 1400px; margin: auto; }
.mod_article .Breite1450, .mod_article.Breite1450 > * { max-width: 100%; width: 1450px; margin: auto; }
.mod_article .Breite1500, .mod_article.Breite1500 > * { max-width: 100%; width: 1500px; margin: auto; }
.mod_article .Breite1550, .mod_article.Breite1550 > * { max-width: 100%; width: 1550px; margin: auto; }
.mod_article .Breite1600, .mod_article.Breite1600 > * { max-width: 100%; width: 1600px; margin: auto; }
.mod_article .Breite1650, .mod_article.Breite1650 > * { max-width: 100%; width: 1650px; margin: auto; }
.mod_article .Breite1700, .mod_article.Breite1700 > * { max-width: 100%; width: 1700px; margin: auto; }
.mod_article .Breite1750, .mod_article.Breite1750 > * { max-width: 100%; width: 1750px; margin: auto; }
.mod_article .Breite1800, .mod_article.Breite1800 > * { max-width: 100%; width: 1800px; margin: auto; }
.mod_article .Breite1850, .mod_article.Breite1850 > * { max-width: 100%; width: 1850px; margin: auto; }
.mod_article .Breite1900, .mod_article.Breite1900 > * { max-width: 100%; width: 1900px; margin: auto; }
.mod_article .Breite1950, .mod_article.Breite1950 > * { max-width: 100%; width: 1950px; margin: auto; }

.content-text.TextLinks .rte, #wrapper .rs-columns.TextLinks { margin-left: 0; }
.content-text.TextRechts .rte, #wrapper .rs-columns.TextRechts { margin-right: 0; }

//************************************************************* HÖHE *************************************************************//
.minimaleHöhe5Prozent { min-height: 5vh; min-height: 5svh; }
.minimaleHöhe10Prozent { min-height: 10vh; min-height: 10svh; }
.minimaleHöhe15Prozent { min-height: 15vh; min-height: 15svh; }
.minimaleHöhe20Prozent { min-height: 20vh; min-height: 20svh; }
.minimaleHöhe25Prozent { min-height: 25vh; min-height: 25svh; }
.minimaleHöhe30Prozent { min-height: 30vh; min-height: 30svh; }
.minimaleHöhe35Prozent { min-height: 35vh; min-height: 35svh; }
.minimaleHöhe40Prozent { min-height: 40vh; min-height: 40svh; }
.minimaleHöhe45Prozent { min-height: 45vh; min-height: 45svh; }
.minimaleHöhe50Prozent { min-height: 50vh; min-height: 50svh; }
.minimaleHöhe55Prozent { min-height: 55vh; min-height: 55svh; }
.minimaleHöhe60Prozent { min-height: 60vh; min-height: 60svh; }
.minimaleHöhe65Prozent { min-height: 65vh; min-height: 65svh; }
.minimaleHöhe70Prozent { min-height: 70vh; min-height: 70svh; }
.minimaleHöhe75Prozent { min-height: 75vh; min-height: 75svh; }
.minimaleHöhe80Prozent { min-height: 80vh; min-height: 80svh; }
.minimaleHöhe85Prozent { min-height: 85vh; min-height: 85svh; }
.minimaleHöhe90Prozent { min-height: 90vh; min-height: 90svh; }
.minimaleHöhe95Prozent { min-height: 95vh; min-height: 95svh; }
.minimaleHöhe100Prozent { min-height: 100vh; min-height: 100svh; }

.minimaleHöhe50Pixel { min-height: 50px; }
.minimaleHöhe100Pixel { min-height: 100px; }
.minimaleHöhe150Pixel { min-height: 150px; }
.minimaleHöhe200Pixel { min-height: 200px; }
.minimaleHöhe250Pixel { min-height: 250px; }
.minimaleHöhe300Pixel { min-height: 300px; }
.minimaleHöhe350Pixel { min-height: 350px; }
.minimaleHöhe400Pixel { min-height: 400px; }
.minimaleHöhe450Pixel { min-height: 450px; }
.minimaleHöhe500Pixel { min-height: 500px; }
.minimaleHöhe550Pixel { min-height: 550px; }
.minimaleHöhe600Pixel { min-height: 600px; }
.minimaleHöhe650Pixel { min-height: 650px; }
.minimaleHöhe700Pixel { min-height: 700px; }
.minimaleHöhe750Pixel { min-height: 750px; }
.minimaleHöhe800Pixel { min-height: 800px; }
.minimaleHöhe850Pixel { min-height: 850px; }
.minimaleHöhe900Pixel { min-height: 900px; }
.minimaleHöhe950Pixel { min-height: 950px; }
.minimaleHöhe1000Pixel { min-height: 1000px; }

.maximaleHöhe5Prozent { max-height: 5vh; max-height: 5svh; }
.maximaleHöhe10Prozent { max-height: 10vh; max-height: 10svh; }
.maximaleHöhe15Prozent { max-height: 15vh; max-height: 15svh; }
.maximaleHöhe20Prozent { max-height: 20vh; max-height: 20svh; }
.maximaleHöhe25Prozent { max-height: 25vh; max-height: 25svh; }
.maximaleHöhe30Prozent { max-height: 30vh; max-height: 30svh; }
.maximaleHöhe35Prozent { max-height: 35vh; max-height: 35svh; }
.maximaleHöhe40Prozent { max-height: 40vh; max-height: 40svh; }
.maximaleHöhe45Prozent { max-height: 45vh; max-height: 45svh; }
.maximaleHöhe50Prozent { max-height: 50vh; max-height: 50svh; }
.maximaleHöhe55Prozent { max-height: 55vh; max-height: 55svh; }
.maximaleHöhe60Prozent { max-height: 60vh; max-height: 60svh; }
.maximaleHöhe65Prozent { max-height: 65vh; max-height: 65svh; }
.maximaleHöhe70Prozent { max-height: 70vh; max-height: 70svh; }
.maximaleHöhe75Prozent { max-height: 75vh; max-height: 75svh; }
.maximaleHöhe80Prozent { max-height: 80vh; max-height: 80svh; }
.maximaleHöhe85Prozent { max-height: 85vh; max-height: 85svh; }
.maximaleHöhe90Prozent { max-height: 90vh; max-height: 90svh; }
.maximaleHöhe95Prozent { max-height: 95vh; max-height: 95svh; }
.maximaleHöhe100Prozent { max-height: 100vh; max-height: 100svh; }

.maximaleHöhe50Pixel { max-height: 50px; }
.maximaleHöhe100Pixel { max-height: 100px; }
.maximaleHöhe150Pixel { max-height: 150px; }
.maximaleHöhe200Pixel { max-height: 200px; }
.maximaleHöhe250Pixel { max-height: 250px; }
.maximaleHöhe300Pixel { max-height: 300px; }
.maximaleHöhe350Pixel { max-height: 350px; }
.maximaleHöhe400Pixel { max-height: 400px; }
.maximaleHöhe450Pixel { max-height: 450px; }
.maximaleHöhe500Pixel { max-height: 500px; }
.maximaleHöhe550Pixel { max-height: 550px; }
.maximaleHöhe600Pixel { max-height: 600px; }
.maximaleHöhe650Pixel { max-height: 650px; }
.maximaleHöhe700Pixel { max-height: 700px; }
.maximaleHöhe750Pixel { max-height: 750px; }
.maximaleHöhe800Pixel { max-height: 800px; }
.maximaleHöhe850Pixel { max-height: 850px; }
.maximaleHöhe900Pixel { max-height: 900px; }
.maximaleHöhe950Pixel { max-height: 950px; }
.maximaleHöhe1000Pixel { max-height: 1000px; }
//************************************************************* ABSTÄNDE *************************************************************//
:root {
	--XXXS: 10px;
	--XXS: 20px;
	--XS: 25px;
	--S: 40px;
	--M: 60px;
	--L: 100px;
	--XL: 200px;
	--XXL: 300px;
	--XXXL: 400px;
}
.ÜberschriftAbstandOben0 { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-top: 0; } 
}
.ÜberschriftAbstandUnten0 { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-bottom: 0; } 
}
.ÜberschriftAbstandUntenXXXS { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-bottom: var(--XXXS); } 
}
.ÜberschriftAbstandUntenXXS { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-bottom: var(--XXS); } 
}
.ÜberschriftAbstandUntenXS { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-bottom: var(--XS); } 
}
.ÜberschriftAbstandUntenS { 
	&:is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6) { margin-bottom: var(--S); } 
}

body #wrapper #container .Abstand0, .mod_article body #wrapper .AbstandText0 .rte, .AbstandBild0 figure { padding: 0px; }
body #wrapper #container .AbstandXXXS, #container .mod_article .AbstandTextXXXS .rte, .AbstandBildXXXS figure { padding: var(--XXXS); }
body #wrapper #container .AbstandXXS, #container .mod_article .AbstandTextXXS .rte, .AbstandBildXXS figure { padding: var(--XXS); }
body #wrapper #container .AbstandXS, #container .mod_article .AbstandTextXS .rte, .AbstandBildXS figure { padding: var(--XS); }
body #wrapper #container .AbstandS, #container .mod_article .AbstandTextS .rte, .AbstandBildS figure { padding: var(--S); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandM, #container .mod_article .AbstandTextM .rte, .AbstandBildM figure { padding: var(--M); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandL, #container .mod_article .AbstandTextL .rte, .AbstandBildL figure { padding: var(--L); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXL, #container .mod_article .AbstandTextXL .rte, .AbstandBildXL figure { padding: var(--XL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXL, #container .mod_article .AbstandTextXXL .rte, .AbstandBildXXL figure { padding: var(--XXL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXXL, #container .mod_article .AbstandTextXXXL .rte, .AbstandBildXXXL figure { padding: var(--XXXL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandXXXXL, #container .mod_article .AbstandTextXXXXL .rte, .AbstandBildXXXXL figure { padding: 250px; @media(max-width:767px){ padding: 30px 10px; } }

body #wrapper #container .AbstandOben0, #container .mod_article .AbstandTextOben0 .rte, .AbstandBildOben0 figure { padding-top: 0px; }
body #wrapper #container .AbstandObenXXXS, #container .mod_article .AbstandTextObenXXXS .rte, .AbstandBildObenXXXS figure { padding-top: var(--XXXS); }
body #wrapper #container .AbstandObenXXS, #container .mod_article .AbstandTextObenXXS .rte, .AbstandBildObenXXS figure { padding-top: var(--XXS); }
body #wrapper #container .AbstandObenXS, #container .mod_article .AbstandTextObenXS .rte, .AbstandBildObenXS figure { padding-top: var(--XS); }
body #wrapper #container .AbstandObenS, #container .mod_article .AbstandTextObenS .rte, .AbstandBildObenS figure { padding-top: var(--S); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenM, #container .mod_article .AbstandTextObenM .rte, .AbstandBildObenM figure { padding-top: var(--M); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenL, #container .mod_article .AbstandTextObenL .rte, .AbstandBildObenL figure { padding-top: var(--L); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXL, #container .mod_article .AbstandTextObenXL .rte, .AbstandBildObenXL figure { padding-top: var(--XL); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXXL, #container .mod_article .AbstandTextObenXXL .rte, .AbstandBildObenXXL figure { padding-top: var(--XXL); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandObenXXXL, #container .mod_article .AbstandTextObenXXXL .rte, .AbstandBildObenXXXL figure { padding-top: var(--XXXL); @media(max-width:767px){ padding-top: 20px; } }

body #wrapper #container .AbstandRechts0, #container .mod_article .AbstandTextRechts0 .rte, .AbstandBildRechts0 figure { padding-right: 0px; }
body #wrapper #container .AbstandRechtsXXXS, #container .mod_article .AbstandTextRechtsXXXS .rte, .AbstandBildRechtsXXXS figure { padding-right: var(--XXXS); }
body #wrapper #container .AbstandRechtsXXS, #container .mod_article .AbstandTextRechtsXXS .rte, .AbstandBildRechtsXXS figure { padding-right: var(--XXS); }
body #wrapper #container .AbstandRechtsXS, #container .mod_article .AbstandTextRechtsXS .rte, .AbstandBildRechtsXS figure { padding-right: var(--XS); }
body #wrapper #container .AbstandRechtsS, #container .mod_article .AbstandTextRechtsS .rte, .AbstandBildRechtsS figure { padding-right: var(--S); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsM, #container .mod_article .AbstandTextRechtsM .rte, .AbstandBildRechtsM figure { padding-right: var(--M); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsL, #container .mod_article .AbstandTextRechtsL .rte, .AbstandBildRechtsL figure { padding-right: var(--L); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXL, #container .mod_article .AbstandTextRechtsXL .rte, .AbstandBildRechtsXL figure { padding-right: var(--XL); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXXL, #container .mod_article .AbstandTextRechtsXXL .rte, .AbstandBildRechtsXXL figure { padding-right: var(--XXL); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandRechtsXXXL, #container .mod_article .AbstandTextRechtsXXXL .rte, .AbstandBildRechtsXXXL figure { padding-right: var(--XXXL); @media(max-width:767px){ padding-right: 20px; } }

body #wrapper #container .AbstandUnten0, #container .mod_article .AbstandTextUnten0 .rte, .AbstandBildUnten0 figure { padding-bottom: 0px; }
body #wrapper #container .AbstandUntenXXXS, #container .mod_article .AbstandTextUntenXXXS .rte, .AbstandBildUntenXXXS figure { padding-bottom: var(--XXXS); }
body #wrapper #container .AbstandUntenXXS, #container .mod_article .AbstandTextUntenXXS .rte, .AbstandBildUntenXXS figure { padding-bottom: var(--XXS); }
body #wrapper #container .AbstandUntenXS, #container .mod_article .AbstandTextUntenXS .rte, .AbstandBildUntenXS figure { padding-bottom: var(--XS); }
body #wrapper #container .AbstandUntenS, #container .mod_article .AbstandTextUntenS .rte, .AbstandBildUntenS figure { padding-bottom: var(--S); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenM, #container .mod_article .AbstandTextUntenM .rte, .AbstandBildUntenM figure { padding-bottom: var(--M); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenL, #container .mod_article .AbstandTextUntenL .rte, .AbstandBildUntenL figure { padding-bottom: var(--L); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXL, #container .mod_article .AbstandTextUntenXL .rte, .AbstandBildUntenXL figure { padding-bottom: var(--XL); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXXL, #container .mod_article .AbstandTextUntenXXL .rte, .AbstandBildUntenXXL figure { padding-bottom: var(--XXL); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandUntenXXXL, #container .mod_article .AbstandTextUntenXXXL .rte, .AbstandBildUntenXXXL figure { padding-bottom: var(--XXXL); @media(max-width:767px){ padding-bottom: 20px; } }

body #wrapper #container .AbstandLinks0, #container .mod_article .AbstandTextLinks0 .rte, .AbstandBildLinks0 figure { padding-left: 0px; }
body #wrapper #container .AbstandLinksXXXS, #container .mod_article .AbstandTextLinksXXXS .rte, .AbstandBildLinksXXXS figure { padding-left: var(--XXXS); }
body #wrapper #container .AbstandLinksXXS, #container .mod_article .AbstandTextLinksXXS .rte, .AbstandBildLinksXXS figure { padding-left: var(--XXS); }
body #wrapper #container .AbstandLinksXS, #container .mod_article .AbstandTextLinksXS .rte, .AbstandBildLinksXS figure { padding-left: var(--XS); }
body #wrapper #container .AbstandLinksS, #container .mod_article .AbstandTextLinksS .rte, .AbstandBildLinksS figure { padding-left: var(--S); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksM, #container .mod_article .AbstandTextLinksM .rte, .AbstandBildLinksM figure { padding-left: var(--M); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksL, #container .mod_article .AbstandTextLinksL .rte, .AbstandBildLinksL figure { padding-left: var(--L); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXL, #container .mod_article .AbstandTextLinksXL .rte, .AbstandBildLinksXL figure { padding-left: var(--XL); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXXL, #container .mod_article .AbstandTextLinksXXL .rte, .AbstandBildLinksXXL figure { padding-left: var(--XXL); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandLinksXXXL, #container .mod_article .AbstandTextLinksXXXL .rte, .AbstandBildLinksXXXL figure { padding-left: var(--XXXL); @media(max-width:767px){ padding-left: 20px; } }


body #wrapper #container .AbstandAußen0 { margin: 0; }
body #wrapper #container .AbstandAußenXXXS { margin: var(--XXXS); }
body #wrapper #container .AbstandAußenXXS { margin: var(--XXS); }
body #wrapper #container .AbstandAußenXS { margin: var(--XS); }
body #wrapper #container .AbstandAußenS { margin: var(--S); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenM { margin: var(--M); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenL { margin: var(--L); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXL { margin: var(--XL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXL { margin: var(--XXL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXXL { margin: var(--XXXL); @media(max-width:767px){ padding: 30px 10px; } }
body #wrapper #container .AbstandAußenXXXXL { margin: 250px; @media(max-width:767px){ padding: 30px 10px; } }

body #wrapper #container .AbstandAußenOben0 { margin-top: 0px; }
body #wrapper #container .AbstandAußenObenXXXS { margin-top: var(--XXXS); }
body #wrapper #container .AbstandAußenObenXXS { margin-top: var(--XXS); }
body #wrapper #container .AbstandAußenObenXS { margin-top: var(--XS); }
body #wrapper #container .AbstandAußenObenS { margin-top: var(--S); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenM { margin-top: var(--M); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenL { margin-top: var(--L); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXL { margin-top: var(--XL); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXXL { margin-top: var(--XXL); @media(max-width:767px){ padding-top: 20px; } }
body #wrapper #container .AbstandAußenObenXXXL { margin-top: var(--XXXL); @media(max-width:767px){ padding-top: 20px; } }

body #wrapper #container .AbstandAußenRechts0 { margin-right: 0px; }
body #wrapper #container .AbstandAußenRechtsXXXS { margin-right: var(--XXXS); }
body #wrapper #container .AbstandAußenRechtsXXS { margin-right: var(--XXS); }
body #wrapper #container .AbstandAußenRechtsXS { margin-right: var(--XS); }
body #wrapper #container .AbstandAußenRechtsS { margin-right: var(--S); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsM { margin-right: var(--M); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsL { margin-right: var(--L); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXL { margin-right: var(--XL); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXXL { margin-right: var(--XXL); @media(max-width:767px){ padding-right: 20px; } }
body #wrapper #container .AbstandAußenRechtsXXXL { margin-right: var(--XXXL); @media(max-width:767px){ padding-right: 20px; } }

body #wrapper #container .AbstandAußenUnten0 { margin-bottom: 0px; }
body #wrapper #container .AbstandAußenUntenXXXS { margin-bottom: var(--XXXS); }
body #wrapper #container .AbstandAußenUntenXXS { margin-bottom: var(--XXS); }
body #wrapper #container .AbstandAußenUntenXS { margin-bottom: var(--XS); }
body #wrapper #container .AbstandAußenUntenS { margin-bottom: var(--S); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenM { margin-bottom: var(--M); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenL { margin-bottom: var(--L); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXL { margin-bottom: var(--XL); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXXL { margin-bottom: var(--XXL); @media(max-width:767px){ padding-bottom: 20px; } }
body #wrapper #container .AbstandAußenUntenXXXL { margin-bottom: var(--XXXL); @media(max-width:767px){ padding-bottom: 20px; } }

body #wrapper #container .AbstandAußenLinks0 { margin-left: 0px; }
body #wrapper #container .AbstandAußenLinksXXXS { margin-left: var(--XXXS); }
body #wrapper #container .AbstandAußenLinksXXS { margin-left: var(--XXS); }
body #wrapper #container .AbstandAußenLinksXS { margin-left: var(--XS); }
body #wrapper #container .AbstandAußenLinksS { margin-left: var(--S); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksM { margin-left: var(--M); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksL { margin-left: var(--L); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXL { margin-left: var(--XL); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXXL { margin-left: var(--XXL); @media(max-width:767px){ padding-left: 20px; } }
body #wrapper #container .AbstandAußenLinksXXXL { margin-left: var(--XXXL); @media(max-width:767px){ padding-left: 20px; } }


body #wrapper #container .AbstandMobil0 { @media(max-width:767px){ padding: 0; } }
body #wrapper #container .AbstandMobilXXXS { @media(max-width:767px){ padding: var(--XXXS); } }
body #wrapper #container .AbstandMobilXXS { @media(max-width:767px){ padding: var(--XXS); } }
body #wrapper #container .AbstandMobilXS { @media(max-width:767px){ padding: var(--XS); } }
body #wrapper #container .AbstandMobilS { @media(max-width:767px){ padding: var(--S); } }
body #wrapper #container .AbstandMobilM { @media(max-width:767px){ padding: var(--M); } }
body #wrapper #container .AbstandMobilL { @media(max-width:767px){ padding: var(--L); } }
body #wrapper #container .AbstandMobilXL { @media(max-width:767px){ padding: var(--XL); } }
body #wrapper #container .AbstandMobilXXL { @media(max-width:767px){ padding: var(--XXL); } }
body #wrapper #container .AbstandMobilXXXL { @media(max-width:767px){ padding: var(--XXXL); } }
body #wrapper #container .AbstandMobilXXXXL { @media(max-width:767px){ padding: 250px; } }

body #wrapper #container .AbstandMobilOben0 { @media(max-width:767px){ padding-top: 0px; } }
body #wrapper #container .AbstandMobilObenXXXS { @media(max-width:767px){ padding-top: var(--XXXS); } }
body #wrapper #container .AbstandMobilObenXXS { @media(max-width:767px){ padding-top: var(--XXS); } }
body #wrapper #container .AbstandMobilObenXS { @media(max-width:767px){ padding-top: var(--XS); } }
body #wrapper #container .AbstandMobilObenS { @media(max-width:767px){ padding-top: var(--S); } }
body #wrapper #container .AbstandMobilObenM { @media(max-width:767px){ padding-top: var(--M); } }
body #wrapper #container .AbstandMobilObenL { @media(max-width:767px){ padding-top: var(--L); } }
body #wrapper #container .AbstandMobilObenXL { @media(max-width:767px){ padding-top: var(--XL); } }
body #wrapper #container .AbstandMobilObenXXL { @media(max-width:767px){ padding-top: var(--XXL); } }
body #wrapper #container .AbstandMobilObenXXXL { @media(max-width:767px){ padding-top: var(--XXXL); } }

body #wrapper #container .AbstandMobilRechts0 { @media(max-width:767px){ padding-right: 0px; } }
body #wrapper #container .AbstandMobilRechtsXXXS { @media(max-width:767px){ padding-right: var(--XXXS); } }
body #wrapper #container .AbstandMobilRechtsXXS { @media(max-width:767px){ padding-right: var(--XXS); } }
body #wrapper #container .AbstandMobilRechtsXS { @media(max-width:767px){ padding-right: var(--XS); } }
body #wrapper #container .AbstandMobilRechtsS { @media(max-width:767px){ padding-right: var(--S); } }
body #wrapper #container .AbstandMobilRechtsM { @media(max-width:767px){ padding-right: var(--M); } }
body #wrapper #container .AbstandMobilRechtsL { @media(max-width:767px){ padding-right: var(--L); } }
body #wrapper #container .AbstandMobilRechtsXL { @media(max-width:767px){ padding-right: var(--XL); } }
body #wrapper #container .AbstandMobilRechtsXXL { @media(max-width:767px){ padding-right: var(--XXL); } }
body #wrapper #container .AbstandMobilRechtsXXXL { @media(max-width:767px){ padding-right: var(--XXXL); } }

body #wrapper #container .AbstandMobilUnten0 { @media(max-width:767px){ padding-bottom: 0px; } }
body #wrapper #container .AbstandMobilUntenXXXS { @media(max-width:767px){ padding-bottom: var(--XXXS); } }
body #wrapper #container .AbstandMobilUntenXXS { @media(max-width:767px){ padding-bottom: var(--XXS); } }
body #wrapper #container .AbstandMobilUntenXS { @media(max-width:767px){ padding-bottom: var(--XS); } }
body #wrapper #container .AbstandMobilUntenS { @media(max-width:767px){ padding-bottom: var(--S); } }
body #wrapper #container .AbstandMobilUntenM { @media(max-width:767px){ padding-bottom: var(--M); } }
body #wrapper #container .AbstandMobilUntenL { @media(max-width:767px){ padding-bottom: var(--L); } }
body #wrapper #container .AbstandMobilUntenXL { @media(max-width:767px){ padding-bottom: var(--XL); } }
body #wrapper #container .AbstandMobilUntenXXL { @media(max-width:767px){ padding-bottom: var(--XXL); } }
body #wrapper #container .AbstandMobilUntenXXXL { @media(max-width:767px){ padding-bottom: var(--XXXL); } }

body #wrapper #container .AbstandMobilLinks0 { @media(max-width:767px){ padding-left: 0px; } }
body #wrapper #container .AbstandMobilLinksXXXS { @media(max-width:767px){ padding-left: var(--XXXS); } }
body #wrapper #container .AbstandMobilLinksXXS { @media(max-width:767px){ padding-left: var(--XXS); } }
body #wrapper #container .AbstandMobilLinksXS { @media(max-width:767px){ padding-left: var(--XS); } }
body #wrapper #container .AbstandMobilLinksS { @media(max-width:767px){ padding-left: var(--S); } }
body #wrapper #container .AbstandMobilLinksM { @media(max-width:767px){ padding-left: var(--M); } }
body #wrapper #container .AbstandMobilLinksL { @media(max-width:767px){ padding-left: var(--L); } }
body #wrapper #container .AbstandMobilLinksXL { @media(max-width:767px){ padding-left: var(--XL); } }
body #wrapper #container .AbstandMobilLinksXXL { @media(max-width:767px){ padding-left: var(--XXL); } }
body #wrapper #container .AbstandMobilLinksXXXL { @media(max-width:767px){ padding-left: var(--XXXL); } }


body #wrapper #container .AbstandNegativOben0 { margin-top: 0; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXXS { margin-top: calc( -1 * var(--XXXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXS { margin-top: calc( -1 * var(--XXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXS { margin-top: calc( -1 * var(--XS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenS { margin-top: calc( -1 * var(--S) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenM { margin-top: calc( -1 * var(--M) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenL { margin-top: calc( -1 * var(--L) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXL { margin-top: calc( -1 * var(--XL) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXL { margin-top: calc( -1 * var(--XXL) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativObenXXXL { margin-top: calc( -1 * var(--XXXL) ); @media(max-width:767px){ padding-top: 0; } }

body #wrapper #container .AbstandNegativRechts0 { margin-right: 0; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativRechtsXXXS { margin-right: calc( -1 * var(--XXXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativRechtsXXS { margin-right: calc( -1 * var(--XXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativRechtsXS { margin-right: calc( -1 * var(--XS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativRechtsS { margin-right: calc( -1 * var(--S) ); @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsM { margin-right: calc( -1 * var(--M) ); @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsL { margin-right: calc( -1 * var(--L) ); @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXL { margin-right: calc( -1 * var(--XL) ); @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXXL { margin-right: calc( -1 * var(--XXL) ); @media(max-width:767px){ padding-right: 0; } }
body #wrapper #container .AbstandNegativRechtsXXXL { margin-right: calc( -1 * var(--XXXL) ); @media(max-width:767px){ padding-right: 0; } }

body #wrapper #container .AbstandNegativUnten0 { margin-bottom: 0; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativUntenXXXS { margin-bottom: calc( -1 * var(--XXXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativUntenXXS { margin-bottom: calc( -1 * var(--XXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativUntenXS { margin-bottom: calc( -1 * var(--XS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativUntenS { margin-bottom: calc( -1 * var(--S) ); @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenM { margin-bottom: calc( -1 * var(--M) ); @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenL { margin-bottom: calc( -1 * var(--L) ); @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXL { margin-bottom: calc( -1 * var(--XL) ); @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXXL { margin-bottom: calc( -1 * var(--XXL) ); @media(max-width:767px){ padding-bottom: 0; } }
body #wrapper #container .AbstandNegativUntenXXXL { margin-bottom: calc( -1 * var(--XXXL) ); @media(max-width:767px){ padding-bottom: 0; } }

body #wrapper #container .AbstandNegativLinks0 { margin-left: 0; @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativLinksXXXS { margin-left: calc( -1 * var(--XXXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativLinksXXS { margin-left: calc( -1 * var(--XXS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativLinksXS { margin-left: calc( -1 * var(--XS) ); @media(max-width:767px){ padding-top: 0; } }
body #wrapper #container .AbstandNegativLinksS { margin-left: calc( -1 * var(--S) ); @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksM { margin-left: calc( -1 * var(--M) ); @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksL { margin-left: calc( -1 * var(--L) ); @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXL { margin-left: calc( -1 * var(--XL) ); @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXXL { margin-left: calc( -1 * var(--XXL) ); @media(max-width:767px){ padding-left: 0; } }
body #wrapper #container .AbstandNegativLinksXXXL { margin-left: calc( -1 * var(--XXXL) ); @media(max-width:767px){ padding-left: 0; } }

//************************************************************* FARBEN *************************************************************//
.fettSchriftfarbeWeiß strong, .kursivSchriftfarbeWeiß em, .ÜberschriftfarbeWeiß :is(h1, h2, h3, h4, h5, h6) { color: #fff; }
.SchriftfarbeWeiß { color: #fff;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #fff; }
	svg.icon, svg { fill: #fff; }
}
.fettSchriftfarbeSchwarz strong, .kursivSchriftfarbeSchwarz em, .ÜberschriftfarbeSchwarz :is(h1, h2, h3, h4, h5, h6) { color: #000; }
.SchriftfarbeSchwarz { color: #000;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #000; }
	svg.icon, svg { fill: #000; }
}
.fettSchriftfarbeGrau strong, .kursivSchriftfarbeGrau em, .ÜberschriftfarbeGrau :is(h1, h2, h3, h4, h5, h6) { color: #f8f8f8; }
.SchriftfarbeGrau { color: #f8f8f8;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #f8f8f8; }
	svg.icon, svg { fill: #f8f8f8; }
}
.fettSchriftfarbeDunkelgrau strong, .kursivSchriftfarbeDunkelgrau em, .ÜberschriftfarbeDunkelgrau :is(h1, h2, h3, h4, h5, h6) { color: #1b2125; }
.SchriftfarbeDunkelgrau { color: #1b2125;
	a, :is(h1, h2, h3, h4, h5, h6) { color: #1b2125; }
	svg.icon, svg { fill: #1b2125; }
}

.fettSchriftfarbe1 strong, .kursivSchriftfarbe1 em, .Überschriftfarbe1 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_1); }
.Schriftfarbe1 { color: var(--color_1);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_1); }
	svg.icon, svg { fill: var(--color_1); }
}
.fettSchriftfarbe2 strong, .kursivSchriftfarbe2 em, .Überschriftfarbe2 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_2); }
.Schriftfarbe2 { color: var(--color_2);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_2); }
	svg.icon, svg { fill: var(--color_2); }
}
.fettSchriftfarbe3 strong, .kursivSchriftfarbe3 em, .Überschriftfarbe3 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_3); }
.Schriftfarbe3 { color: var(--color_3);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_3); }
	svg.icon, svg { fill: var(--color_3); }
}
.fettSchriftfarbe4 strong, .kursivSchriftfarbe4 em, .Überschriftfarbe4 :is(h1, h2, h3, h4, h5, h6) { color: var(--color_4); }
.Schriftfarbe4 { color: var(--color_4);
	a, :is(h1, h2, h3, h4, h5, h6) { color: var(--color_4); }
	svg.icon, svg { fill: var(--color_4); }
}

#wrapper .Hintergrund1, .fettHintergrund1 strong { background-color: var(--color_1); }
#wrapper .Hintergrund2, .fettHintergrund2 strong { background-color: var(--color_2); }
#wrapper .Hintergrund3, .fettHintergrund3 strong { background-color: var(--color_3); }
#wrapper .Hintergrund4, .fettHintergrund4 strong { background-color: var(--color_4); }
#wrapper .HintergrundWeiß, .fettHintergrundWeiß strong { background-color: #fff; color: var(--font_color); }
#wrapper .HintergrundSchwarz, .fettHintergrundSchwarz strong { background-color: #000; }
#wrapper .HintergrundDunkelgrau, .fettHintergrundDunkelgrau strong { background-color: #1b2125; }
#wrapper .HintergrundGrau, .fettHintergrundGrau strong { background-color: #f8f8f8; }

.HintergrundTextWeiß .rte { background-color: #fff; }
.HintergrundTextGrau .rte { background-color: #f8f8f8; }
.HintergrundTextSchwarz .rte { background-color: #000; }
.HintergrundText1 .rte { background-color: var(--color_1); }
.HintergrundText2 .rte { background-color: var(--color_2); }
.HintergrundText3 .rte { background-color: var(--color_3); }
.HintergrundText4 .rte { background-color: var(--color_4); }

.Iconfarbe1 svg { fill: var(--color_1); }
.Iconfarbe2 svg { fill: var(--color_2); }
.Iconfarbe3 svg { fill: var(--color_3); }
.Iconfarbe4 svg { fill: var(--color_4); }
.IconfarbeWeiß svg { fill: #fff; }
.IconfarbeSchwarz svg { fill: #000; }
//************************************************************* BUTTON *************************************************************//
body #wrapper .ButtonAufGleicherHöhe {
	padding-bottom: 55px;
	a { 
		position: absolute; 
		bottom: 20px;
		right: 20px;
	}
}
button.SchaltflächeInvertieren {
	background-color: var(--color_1);
	color: #fff;
	border: 1px solid var(--color_1);
	&:hover { 
		background: #fff;
		color: var(--color_1);
	}
}
html body .content-text {
	&.LinkAlsButton, &.LinkAlsButton2, &.kursiverLinkAlsButton, &.fettAlsButton { 
		position: relative;
		&:not(.kursiverLinkAlsButton) .rte strong a,
		&:not(.kursiverLinkAlsButton) .rte a strong { font-weight: var(--font_width_strong); }
		&:not(.kursiverLinkAlsButton) .rte a, 
		&:not(.LinkAlsButton) .rte em a,
		&:not(.LinkAlsButton) .rte a em,
		&.fettAlsButton .rte strong { 
			cursor: pointer;
			display: inline-block;
			background: #fff;
			color: var(--button_font_color);
			font-weight: var(--button_font_weight); 
			font-style: normal; 
			border: 1px solid var(--button_border_color); 
			border-radius: var(--button_border_radius); 
			text-decoration: none; 
			padding: .25rem 2rem;
			line-height: 1.4;
			transition: all 0.25s ease-in-out;
			svg, svg.icon { 
				fill: var(--button_font_color); 
				transition: all 0.25s ease-in-out;
			}
			&:before { display: none; }
			&:hover { 
				background: var(--button_color_hover); 
				color: var(--button_font_color_hover);
				border-color: var(--button_border_color_hover);
				svg, svg.icon { fill: var(--button_font_color_hover); }
			}
    		}
	}
	&.LinkAlsButton2, &.fettAlsButton2 { 
		&:not(.kursiverLinkAlsButton) .rte a, 
		&:not(.LinkAlsButton) .rte em a,
		&:not(.LinkAlsButton) .rte a em,
		&.fettAlsButton2 .rte strong { 
			display: inline-block; 
			background-color: var(--color_2); 
			&:hover { 
				background-color: transparent;
				color: var(--color_2);
				border-color: var(--color_2);
			}
		}
	}
}
#footer > .inside > * .IconButton { font-size: 0; 
	a:before { background: transparent; } 
	a svg { 
		width: 30px; 
		height: 30px; 
		border-radius: 50%; 
		margin-right: 10px;
		transition: all 0.25s ease-in-out;
		&:hover { transform: rotate(45deg); }
	}
	svg, svg.icon { fill: var(--color_1); }
}
//************************************************************* animierterUnterstrich *************************************************************//
body.scroll-down .animierterUnterstrich s:nth-of-type(1):after, 
body:not(.scroll-down) .animierterUnterstrich s:nth-of-type(2):after { width: 0; }
.animierterUnterstrich {
	s { text-decoration: none; }
	s:nth-of-type(1), s:nth-of-type(2) { position: relative; font-size: inherit; line-height: inherit; vertical-align: inherit; }
	s:nth-of-type(1):after { left: 0; }
 	s:nth-of-type(2):after { right: 0; }
	s:nth-of-type(1):after, s:nth-of-type(2):after {
		content: "";
		position: absolute;
		bottom: -0.1em;
		width: 100%;
		min-height: 3px;
		height: 0.2em;
		background: var(--color_1);
		z-index: -1;
		transition: width .9s;
	}
}
.Hintergrund1,
.Hintergrund2,
.Hintergrund3,
.Hintergrund4,
.HintergrundSchwarz,
.HintergrundDunkelgrau {
	.animierterUnterstrich {
		s:nth-of-type(1):after, s:nth-of-type(2):after {
			background: #fff;
		}
	}
}
